<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.android.MyNotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mynotesicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mynotesicon"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity
            android:name="com.projects.android.MyNotes.activity.Home"
            android:theme="@style/Theme" />
        <activity
            android:name="com.projects.android.MyNotes.activity.About"
            android:parentActivityName="com.projects.android.MyNotes.activity.Home" />
        <activity
            android:name="com.projects.android.MyNotes.activity.Reminder"
            android:parentActivityName="com.projects.android.MyNotes.activity.Home" />
        <activity
            android:name="com.projects.android.MyNotes.activity.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.projects.android.MyNotes.activity.Account"
            android:parentActivityName="com.projects.android.MyNotes.activity.Home" />
        <activity
            android:name="com.projects.android.MyNotes.activity.Settings"
            android:parentActivityName="com.projects.android.MyNotes.activity.Home" />
        <activity
            android:name="com.projects.android.MyNotes.activity.Notes"
            android:parentActivityName="com.projects.android.MyNotes.activity.Home" />
       </application>

</manifest>