<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projects.android.MyNotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mynotesicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mynotesicon"
        android:supportsRtl="true"
        android:theme="@style/Theme">
        <activity
            android:name=".activity.Home" />
        <activity
            android:name=".activity.About"
            android:parentActivityName=".activity.Home"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.Reminder"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Account"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.Settings"
            android:parentActivityName=".activity.Home" />
        <activity
            android:name=".activity.Notes"
            android:parentActivityName=".activity.Home" />
        <activity android:name=".activity.Notebooks"
            android:parentActivityName=".activity.Home"/>
        <activity android:name=".activity.Trash"
            android:parentActivityName=".activity.Home"/>
    </application>

</manifest>